/*  your css code here. If applicable */
.progress-container{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 20px auto;
	
}
.circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid black;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}


 .circle.active {
      /* background-color: #3498db; */
      border-color: #3498db;
      /* color: #fff; */
    }

.line{
	flex:1;
	height: 2px;
	background-color: #3498db;
	margin: 0 ;
	margin-top: 15px
	/* align-items:center */
	
}

.buttons{
	text-align: center;
	margin-top: 20px;
	
}

button{
	padding: 10px 20px;
	background-color:  #3498db;
	color: white;
	border: none;
	border-radius:6px;
	cursor: pointer;
}

 button:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }














